.header-wrapper{
    display: flex;
}

.header-search {
    padding: 10px 30px 10px 20px;
    display: flex;
    flex: 1;
    border: 0 solid #E5E5E5 ;
    border-bottom-width: 1px;
}

.header-logo {
    padding: 0 20px;
}

.header-login-button {
    padding: 15px 30px 15px 20px !important;
}
