.product-card-container {
    background-color: white;
}

.product-image {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 200px;
    margin-bottom: 25px;
}

.product-rating {
    display: flex;
    margin-bottom: 18px;
    font-size: .75rem;
}

.product-description > p {
    margin-block: 0;
    margin-top: 5px;
}
